.sCart {
	position: absolute;
	top: 0;
	right: 0;
	border: 1px solid red;
	width: 200px;
	padding: 10px;
	background: #fff;
	z-index: 9;
}
.cartItem {
	display: block;
	padding: 5px;
	margin-bottom: 10px;
	background: #f9f9f9;
	font-size: 14px;
	color: #333;
}
